body{
	//background:red;
}

h4{
 color: 
	background: white;
}

h1{
	color: #333;
	font-size: 12px;
	background: blue;
} 
.titulo-principal{
	font-size: 60px;
}
.titulo-producto{
	background: orange;
}
 
.izquierda{
	
	width: 50%;
	float: left;
}
.derecha{

		width: 50%;
		float: right;
	
}