body{
	//background:red;
}

h4{
 color: 
	background: white;
}

h1{
	color: #333;
	font-size: 12px;
	;
} 
.titulo-principal{
	font-size: 60px;
}
.titulo-producto{
	background: orange;
}
 
.izquierda{
	
	width: 50%;
	float: left;
}
.derecha{

		width: 50%;
		float: right;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
li {
    float: left;

}
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
	    text-decoration: none;
	
}
